*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100vh;
	background-color: white;
	/*animation: bodyAnim 13s ease forwards 2s;*/
}

#Calque_1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 25%;
	height: auto;
	
}

path{
	fill: remove;
}

#Calque_1{
	padding: 10px;
	fill: white;
	animation: neonColor 6s ease infinite 1s;
}

#Calque_1 path:nth-child(1){
	stroke-dasharray: 112;
	stroke-dashoffset: 110;
	animation: lineAnim 5s ease forwards;
}

#Calque_1 path:nth-child(2){
	stroke-dasharray: 152;
	stroke-dashoffset: 152;
	animation: lineAnim 5s ease forwards 0.25s;
}

#Calque_1 path:nth-child(3){
	stroke-dasharray: 120;
	stroke-dashoffset: 120;
	animation: lineAnim 5s ease forwards 0.5s;
}

#Calque_1 path:nth-child(4){
	stroke-dasharray: 140.97;
	stroke-dashoffset: 140.97;
	animation: lineAnim 5s ease forwards 0.75s;
}

#Calque_1 path:nth-child(5){
	stroke-dasharray: 149.6;
	stroke-dashoffset: 149.6;
	animation: lineAnim 5s ease forwards 1s;
}

#Calque_1 path:nth-child(6){
	stroke-dasharray: 112;
	stroke-dashoffset: 112;
	animation: lineAnim 5s ease forwards 1.25s;
}

#Calque_1 path:nth-child(7){
	stroke-dasharray: 181.63;
	stroke-dashoffset: 181.63;
	animation: lineAnim 5s ease forwards 1.5s;
}

#Calque_1 path:nth-child(8){
	stroke-dasharray: 141.96;
	stroke-dashoffset: 141.96;
	animation: lineAnim 5s ease forwards 1.75s;
}


@keyframes lineAnim{
	75%{
		stroke-dashoffset: 0;
	}
	100%{
		stroke: 0.2;
	}

}

@keyframes neonColor{
	70%{
		fill: #E5B7A7;
	    box-shadow: rgba(255,153,117, 0.8) 1px 0 10px;
	    width: 26.5%;
	}
	100%{
		width: 25%;
	}
}

@keyframes bodyAnim{
	to{
		background: black;
	}
}