*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100vh;
}

/* ---- ANIMATIONS ---- */

@keyframes lineAnim{
	75%{
		stroke-dashoffset: 0;
	}
	100%{
		stroke: 0.2;
	}

}

@keyframes neonColor{
	40%{
		box-shadow: rgba(255,153,117, 0.7) -12px 0 25px 3px;
	}
	57%{
		box-shadow: rgba(255,153,117, 0.7) 0px 0px 75px 8px;
	}
	70%{	    
	    width: 26.5%;
	}
	75%{
		box-shadow: rgba(255,153,117, 0.7) 12px 0px 25px -5px;		
	}
	100%{
		width: 25%;
	}
}

/* --- Ecran de chargement --- */

#Calque_1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 25%;
	height: auto;
	
}

path{
	fill: remove;
}

#Calque_1{
	padding: 10px;
	fill: white;
	animation: neonColor 6s ease forwards 1s;
}

#Calque_1 path:nth-child(1){
	stroke-dasharray: 112;
	stroke-dashoffset: 110;
	animation: lineAnim 5s ease forwards;
}

#Calque_1 path:nth-child(2){
	stroke-dasharray: 152;
	stroke-dashoffset: 152;
	animation: lineAnim 5s ease forwards 0.25s;
}

#Calque_1 path:nth-child(3){
	stroke-dasharray: 120;
	stroke-dashoffset: 120;
	animation: lineAnim 5s ease forwards 0.5s;
}

#Calque_1 path:nth-child(4){
	stroke-dasharray: 140.97;
	stroke-dashoffset: 140.97;
	animation: lineAnim 5s ease forwards 0.75s;
}

#Calque_1 path:nth-child(5){
	stroke-dasharray: 149.6;
	stroke-dashoffset: 149.6;
	animation: lineAnim 5s ease forwards 1s;
}

#Calque_1 path:nth-child(6){
	stroke-dasharray: 112;
	stroke-dashoffset: 112;
	animation: lineAnim 5s ease forwards 1.25s;
}

#Calque_1 path:nth-child(7){
	stroke-dasharray: 181.63;
	stroke-dashoffset: 181.63;
	animation: lineAnim 5s ease forwards 1.5s;
}

#Calque_1 path:nth-child(8){
	stroke-dasharray: 141.96;
	stroke-dashoffset: 141.96;
	animation: lineAnim 5s ease forwards 1.75s;
}

/* ACCUEIL */

#header-accueil{
	position: relative;
	width: 100%;
	height: 10vh;
	display: flex;
}

.li-header-accueil{
	list-style-type: none;
	margin-left:4%;
	margin-top: 4vh;
	letter-spacing: 110%;
	font-family: 'Hind', sans-serif;
	letter-spacing: 1.2px;
}

#li-header-accueil-logo{
	position: absolute;
	margin-top: 2vh;
	margin-left: 0%;
	left: 50%;
	transform: translateX(-50%);
}

#li-header-accueil-connect{
	position: absolute;
	right: 4%;
}

#section-accueil{
	position: relative;
	height: 80vh;
	padding-top: 15vh;
}

.accueil-flex-container{
	width: 95%;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-top: 1vh;
}

.accueil-rectangle{
	width: 48.5%;
	height: 15vh;
	margin-top: 2vh;
	border-radius: 8px;
}

#accueil-yellow-rectangle{
	background-color: rgba(252, 250, 181, 0.34);
}

#accueil-purple-rectangle{
	background-color: rgba(209, 204, 255, 0.53);
}

#accueil-green-rectangle{
	background-color: rgba(178, 227, 194, 0.32);
}

#accueil-orange-rectangle{
	background-color: rgba(247, 196, 158, 0.4);
}

#h1-accueil{
	position: absolute;
    top: 25vh;
    right: 17%;
    font-family: 'Hind', sans-serif;
    font-size: 210%;
    word-spacing: 6.5px;
    font-weight: 600;
    z-index: 10;
}

#diego-accueil{
	position: absolute;
	right: 4%;
    top: 8.5vh;
	height: 30vh;
	width: auto;
}

.p-bouton-accueil{
	text-align: center;
	font-family: 'Hind', sans-serif;
	font-weight: 600;
	margin-top: 5vh;
	font-size: 150%;
}

#p-accueil{
	width: 30%;
	margin: auto;
font-family: 'Marvel', sans-serif;
	text-align: center;
	padding-top: 12.5vh;
	font-size: 130%;
	word-spacing: 1.7px;
}

/* CONNECTION/INSCRIPTION */

#header-connect{
	height: 10vh;
	padding-top: 2vh;
}

.logo-connect{
	padding-left: 0.5%;
}

#section-connect{
	height: 80vh;
	width: 60%;
	padding-top: 20vh;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

#div-connection-connect{
	width: 60%;
	position: relative;
	height: 35vh;
}

.h2-connect{
	font-family: 'Marvel';
	font-size: 160%;
	letter-spacing: 1.4px;
	font-weight: 300;
	margin-bottom: 4vh;
	text-align: justify;
}

#form-connect, #form-inscription{
	display: flex;
	flex-direction: column;
}

#form-connect{
	height: 20vh;
	width: 100%;
}

.label-connect, .label-inscription{
	margin-top: 1vh;
	margin-bottom: 1vh;
	font-family: 'Marvel';
	letter-spacing: 1.2px;
	font-size: 110%;
}

.input-connect{
	border-width: 1.1px 0px 0px;
	width: 80%;
}

.bouton-connect{
	border-radius: 8px;
	font-size: 15px;
	border-width: 0px;
	position: absolute;
	bottom: 0px;
	font-family: 'Marvel';
	letter-spacing: 1.5px;
}

#submit-connect{
	padding: 15px;
	width: 35%;
	background-color: rgba(178, 227, 194, 0.32);	
	margin-left: 40%;
	transform: translateX(-40%);
}

#div-inscription-connect{
	position: relative;
	height: 35vh;
	width: 30%;
	margin-left: 10%;
}

#h2-inscription-connect{
	text-align: center;
}

.p-inscription-connect{
	margin-top: 5vh;
	font-size: 110%;
	font-family: 'Hind';
	font-weight: 300;
	text-align: center;
}

#a-inscription-connect{	
	display: block;
	width: 68.5%;
	padding: 15px 10px;
	text-align: center;
	background-color: rgba(252, 250, 181, 0.44);
	margin-left: 50%;
	transform: translateX(-50%);
}

#ul-connect{
	display: flex;
	justify-content: space-between;
	width: 50%;
	height: 10vh;
	margin: auto;
}

.li-connect{
	list-style-type: circle;
	font-size: 14px;
	font-family: 'Marvel';
	letter-spacing: 1.3px;
}

/* INSCRIPTION */

#section-inscription{
	height: 80vh;
}

#h2-inscription{
	text-align: center;
	padding-top: 15vh;
	margin-bottom: 5vh;
	font-family: 'Marvel';
	letter-spacing: 1.5px;
	font-size: 170%;
	font-weight: 400;
}

#form-inscription{
	margin-top: 10vh;
	width: 25%;
	margin: auto;
}

.input-inscription{
	border-width: 1.1px 0px 0px;
	width: 100%;
	height: 3vh;
}

#submit-inscription{
	margin-top: 4vh;
	border-radius: 8px;
	font-size: 15px;
	border-width: 0px;
	font-family: 'Marvel';
	letter-spacing: 1.5px;
	width: 50%;
	padding: 12px;
	text-align: center;
	background-color: rgba(209, 204, 255, 0.53);
	margin-left: 50%;
	transform: translateX(-50%);
}

#section-liste-quizzs{
	padding-top: 6vh;
	width: 50%;
	margin: auto;
}

#figure-quizzs{
	position: absolute;
	width: 25%;
	height: 50vh;
	top: 15vh;
	right: 1.5%;
}

#image-quizzs{
	position: absolute;
	width: 40%;
	height: auto;
}

#div-infobulle-quizzs{
	position: absolute;
	display: table;
	width: 40%;
	height: 100px;
	bottom: 7vh;
	left: 15%;
}

#p-infobulle-quizzs{
	text-align: center;
	padding: 1vh 5%;
    background: rgba(247, 196, 158, 1);
    border-radius: 50%/50px;
    font-family: 'Marvel';
    z-index: 1;
}

#div-infobulle-quizzs #p-infobulle-quizzs{
	display: table-cell;
    vertical-align: middle;
}

#span-infobulle-quizzs{
	position: absolute;
 display : inline-block;
 bottom: 10vh;
	left: 15%;
 height : 0;
 width : 0;
 border-right : 50px solid transparent;
 border-bottom : 35px solid rgba(247, 196, 158, 0.95);
 border-left : 10px solid transparent;
 z-index: 0;
}


.div-liste-quizzs{
	display: flex;
	justify-content: space-between;
	margin-bottom:5vh;
}

.div-quizzs{
	display: table;
	width: 45%;
	height: 22.5vh;
	border-radius: 15px;
}

.div-liste-quizzs:nth-child(odd) .div-quizzs:nth-child(odd){
	background-color: rgba(252, 250, 181, 0.34);
}

.div-liste-quizzs:nth-child(odd) .div-quizzs:nth-child(even){
	background-color: rgba(209, 204, 255, 0.53);
}

.div-liste-quizzs:nth-child(even) .div-quizzs:nth-child(odd){
	background-color: rgba(178, 227, 194, 0.32);
}



.div-liste-quizzs:nth-child(even) .div-quizzs:nth-child(even){
	background-color: rgba(247, 196, 158, 0.4);
}

.p-quizzs{	
	font-family: 'Marvel';
	font-size: 160%;
	
	text-align: center;
}

.div-quizzs .p-quizzs{
	vertical-align: middle;
	display: table-cell;font-weight: 700;
}

/* CREER QUIZZ */

#header-creer-quizz{
	display: table;
}

#a-header-creer-quizz{
	
	position: absolute;
	top: 4vh;
	right: 5%;
	width: 10%;
	height: 5vh;
	border: 1px solid black;
	border-radius: 8px;
	text-align: center;
	padding-top: 1.2vh;
	font-size: 110%;
	font-family: 'Marvel';
}

#section-creer-quizz{
	display: flex;
	width: 100%;
}

#re{
	width: 20%;
	height: 80vh;
}

#div-gabarit{
	height: 70vh;
	width: 100%;
	overflow-y: scroll;
	margin-top: 5vh;
}

#div-gabarit::-webkit-scrollbar{
	width: 0px;
}


.figure-gabarit{
	position: relative;
}

.img-gabarit{
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-bottom: 1vh;
}

.span-gabarit{
	position: absolute;
	display: block;
	width: 60%;
	top: 25%;
	left: 21%;
	text-align: center;
	font-family: 'Marvel';
}

#fd{
	display: block;
	margin-top: 3vh;
	margin-left: 10%;
	height: 5vh;
	width: 80%;
	border: 1px solid black;
	border-radius: 8px;
	background-color: white;
	text-align: center;
	padding-top: 1.2vh;
	font-size: 110%;
	font-family: 'Marvel';
}

#div-form{
	width: 80%;
}

#form-quizz{
	width: 90%;
	margin-left: 5%;
}

#form-question-title{
	width: 70%;
	height: 10vh;
	margin-top: 5vh;
	margin-left: 15%;
	border: 1.5px solid rgba(0,0,0,0.8);
	border-radius: 8px;
	font-family: 'Marvel';
	font-size: 180%;
	color: black;
	text-align: center;
}

#form-question-title::placeholder{
	font-family: 'Marvel';
	color: black;
	text-align: center;
}

#div-parameter-form-quizz{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin-left: 10%;
	margin-top: 5vh;
}


#div-parameter-form-time{
	position: relative;
	width: 27.5%;
	margin-left: 2.5%;
}

#p-question-time{
	font-family: 'Marvel';
	font-size: 120%;
}

#form-question-time{
	font-family: 'Marvel';
	font-size: 150%;
	text-align: center;
	width: 70px;
	height: 70px;
	border: 1px solid black;
	border-radius: 100%;
	margin-left: 10%;
	margin-top: 2vh;
	padding-bottom: 2vh;
}

#p-form-time{
	font-family: 'Marvel';
	font-size: 90%;
	position: absolute;
	bottom: 2vh;
	left: 15%;
}

#fieldset-parameter-form-points{
	border: none;
	width: 70%;
	text-align: center;	
}

#div-container-input-label-points{
	display: flex;
	width: 70%;
	margin-left: 15%;
	justify-content: space-between;
}

#p-question-points{
	font-family: 'Marvel';
	font-size: 120%;
	margin-bottom: 2vh;
}

.div-input-label-points{
	position: relative;
	width: 70px;
	height: 70px;
}

input[type="radio"].form-question-points{
	position: absolute;
	width: 70px;
	height: 70px;
	opacity: 0;
	z-index: 10;
	cursor: pointer;
}

input[type="radio"].form-question-points + label{
	width: 70px;
	height: 70px;
	display: inline-block;
	border: 1px solid #000;
  	border-radius: 50%;
  	text-align: center;
  	padding-top: 25%; 	
}

input[type="radio"].form-question-points:checked + label {
	border: 2px solid black;
}

.form-question-label-points{
	font-family: 'Marvel';
	font-size: 160%;

}


/* FOOTER */

footer{
	position: relative;
	height: 10vh;
}

.logo-footer{
	position: absolute;
	height: 8vh;
	width: auto;
	top: 1%;
	left: 50%;
	transform: translateX(-50%) scale(0.8);
}